/* Widgets
========== */

.popup-tabs {
  width: 80%;
  border: none;
  float: left;
}

.ui-dialog-titlebar {
  background: #cde2a7 url(title-bar-background.png) repeat-x scroll 50% 50%;
}

.popup-tabs ul.ui-widget-header {
  background: none;
  border: none;
}

.ui-tabs .ui-tabs-panel {
  border: 1px solid #D3D3D3;
}

.popup-selected-items {
  float: left;
  width: 19%;
  border: 1px solid #D3D3D3;
}

.popup-selected-items .ui-state-default{
  padding: 0.2em;
  font-weight: bold;
  margin: 0px;
}

.eea-ref-selecteditems {
  padding: 1em;
}

.eea-ref-selecteditems .tileHeadline {
  margin-top: 0.83em;
}

.eea-ref-selecteditems-box {
  border: 1px solid #8CACBB;
  background: #ffffff url(input_background.gif) repeat-x scroll 0 0;
  height: 14em;
  overflow: auto;
}

.eea-ref-selecteditems .tileItem {
  border: none;
}

.eea-ref-selecteditems .tileItem a {
  font-weight: normal;
  color: #00446a;
}

.eea-ref-selecteditems .tileBreadcrumbs {
  color: #578308;
  font-size: 90%;
  padding-left: 1em;
}

.popup-selected-items-content .ui-state-highlight {
  height: 4em;
}

.popup-selected-items-content .tileItem:hover {
  background-color: #FBF9EE;
}

.ui-icon-custom-add {
  float: right;
  visibility: hidden;
}

.refbrowser-faceted-addable-item:hover {
  background-color: #FBF9EE;
}

.refbrowser-faceted-addable-item:hover .ui-icon-custom-add {
  visibility: visible;
}

.ui-effects-transfer {
  border: 2px dotted #578308;
  z-index: 10000;
}

.ui-pulsate-item {
  border: 1px dotted #578308;
  background-color: #e9efcd;
}

.ui-icon-basket-trash {
  float: right;
  visibility: hidden;
}

.popup-selected-items-content .tileItem:hover .ui-icon-basket-trash{
  visibility: visible;
}

.ui-state-working {
  background: #E6E6E6 url(eeareferencebrowser-loading.gif) no-repeat right center ! important;
}
