/* Widgets
========== */

.popup-tabs {
  width: 80%;
  border: none;
}

.ui-dialog-titlebar {
  background: #CDE2A7;
}

.popup-tabs ul.ui-widget-header {
  background: none;
  border: none;
}

.ui-tabs .ui-tabs-panel {
  border: 1px solid #AAAAAA;
}
